<!doctype html>
<title>Hello from Flask</title>
<form method="post">

<p>

<select name="hovedgruppe" size=10>
 {% for klasse in hovedgrupper %}
    {% set selected = '' %}
    {%if  selected_hovedgruppe == klasse[0] %} {% set selected = 'selected' %} {% endif %} 
  <option {{ selected }} value="{{ klasse[0] }}">{{ klasse[1] }} {{ klasse[2] }}</option>
{% endfor %}
</select>

</p>

{% if grupper|length > 1 %}
<p>
<select name="gruppe" size=10>
  {% for klasse in grupper %}
  {% set selected = '' %}
      {%if  selected_gruppe == klasse[0] %} {% set selected = 'selected' %} {% endif %} 

  <option {{ selected }} value={{ klasse[0] }}>{{ klasse[1] }} {{ klasse[2] }}</option>
{% endfor %}
</select>
</p>
{% endif %}

{% if emner|length > 1 %}
<p>
<select name="emne" size=10>
  {% for klasse in emner %}
  {% set selected = '' %}
  {%if  selected_emne == klasse[0] %} {% set selected = 'selected' %} {% endif %} 
  <option {{ selected }} value={{ klasse[0] }}>{{ klasse[1] }} {{ klasse[2] }}</option>
{% endfor %}
</select>
{% endif %}

</p><p>
    <input type="submit" value="ok">
</p>
</form>
