{% from "macros.html" import vis_kategori with context %}
<!doctype html>
<title>GUI Klassifikation - Redmine 22401</title>

<form method="post">
  <h1>Overblik over alle klassifikationer i LoRa</h1>
  <p>For at se indhold af facet: Vælg facet, tryk ok</p>
  
  <p>For at se indhold af hovedgruppe: Vælg hovedgruppe, tryk ok</p>

  <p>For at se indhold af gruppe: Vælg gruppe, tryk ok</p>

{{ vis_kategori(facetter, selected_facet, 'Facetter', 2) }}

{% if hovedgrupper|length > 0 %}
{{ vis_kategori(hovedgrupper, selected_hovedgruppe, 'Hovedgrupper', 10) }}
{% endif %}

{% if grupper|length > 0 %}
{{ vis_kategori(grupper, selected_gruppe, 'Grupper', 5) }}
{% endif %}

{% if emner|length > 0 %}
{{ vis_kategori(emner, selected_emne, 'Emner', 5) }}
{% endif %}

 <p>
   <input type="submit" name="ok" value="ok">
   <input type="submit" name="slet" value="slet">
 </p>

<p>
<b>Nøgle</b>: <input type="input" name="ny_noegle" size="8">
<b>Titel</b>: <input type="input" name="ny_titel" size="30">
<input type="submit" name="opret" value="opret">
</p> 
</form>
