{% from "macros.html" import vis_kategori with context %}
<!doctype html>
<title>GUI Klassifikation - Redmine 22401</title>

<form method="post">
  <h1>Opret LoRa mapping</h1>

<p>
<b>uuid 1</b>: <input type="input" name="uuid_1" size="25">
<b>uuid 2</b>: <input type="input" name="uuid_2" size="25">
<input type="submit" name="opret" value="Opret mapping">
</p>

<p>
  Input values:<br>
  uuid 1: {{ uuid_1 }}<br>  
  uuid 2: {{ uuid_2 }}
</p>

<p>
Created mapping: <br>
{{ mapping_return }}
</p>

<h2>Eksisterende mapninger</h2>
{% for mapping_string in mapping_strings %}
<p>{{ mapping_string }}</p>
{% endfor %}
</form>
